@model RestauranteWeb.Models.Prato

@{
    ViewBag.Title = "Deletar";
}

<h2>Deletar</h2>

<h3>Você realmente deseja deleter esse prato?</h3>
<div>
    <h4>Prato</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label">Nome do Prato</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomePrato)
        </dd>

        <dt>
            <label class="control-label">Preço do Prato</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecoPrato)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
