@model RestauranteWeb.Models.Restaurante

@{
    ViewBag.Title = "Visualizar";
}

<h2>Visualizar</h2>

<div>
    <h4>Restaurante</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label">Nome do Restaurante</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeRestaurante)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Voltar", "Index")
</p>
